.app-container {
  display: flex;
  width: 100%;
}

.sidebar {
  width: 220px; /* or whatever width fits your design */
  background-color: #1e1e2f;
  min-height: 100vh;
  padding: 1rem;
  color: white;
}

.content {
  flex: 1; /* take remaining space */
  padding: 1rem;
}

.Header {
  width: 100%;
}

.post-card {
  margin: 20px 50px;
  min-width: 30rem;
  max-width: 100%;
  word-wrap: break-word;
}
.card-body .d-flex {
  flex-wrap: wrap;
}
.hashtag {
  margin: 3px 5px;
}
.reactions {
  max-width: 100%;
  margin: 10px 10px;
  font-size: 0.95rem;
}
